
@model List<Ext.Net.MVC.Examples.ChartModel>
@{
    ViewBag.Title = "Mixed Bar Chart - Ext.NET MVC Examples";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
    var X = Html.X();

    var yFields = new string[] { "Data1", "Data2", "Data3" };
}

@section headtag
{
    <script>
        var saveChart = function (btn) {
            Ext.MessageBox.confirm('Confirm Download', 'Would you like to download the chart as an image?', function (choice) {
                if (choice === 'yes') {
                    btn.up('panel').down('chart').download();
                }
            });
        };
    </script>
}

@section example
{
    <h1>Mixed Charts Example</h1>

    <p>Display 3 sets of random data using a line, bar, and scatter series. Reload data will randomly generate a new set of data in the store.</p>

    @(X.Panel()
        .Width(800)
        .Height(600)
        .Title("Mixed Charts")
        .Layout(LayoutType.Fit)
        .TopBar(X.Toolbar()
            .Items(
                X.Button()
                    .Text("Reload Data")
                    .Icon(Icon.ArrowRefresh)
                    .Handler("#{Chart1}.getStore().reload()"),
                X.Button()
                    .Text("Save Chart")
                    .Icon(Icon.Disk)
                    .Handler("saveChart")
            )
        )
        .Items(
            X.CartesianChart()
                .ID("Chart1")
                .StyleSpec("background:#fff")
                .StandardTheme(StandardChartTheme.Category1)
                .Store(X.Store()
                    .Data(Model)
                    .Model(X.Model()
                        .Fields(
                            X.ModelField().Name("Name"),
                            X.ModelField().Name("Data1"),
                            X.ModelField().Name("Data2"),
                            X.ModelField().Name("Data3")
                        )
                    )
                    .Proxy(X.AjaxProxy()
                        .Url(Url.Action("GetData"))
                        .Reader(X.JsonReader().RootProperty("data"))
                    )
                )
                .Axes(
                    X.NumericAxis()
                        .Fields(yFields)
                        .Grid(true)
                        .Position(Position.Left)
                        .Title("Number of Hits"),
                    X.CategoryAxis()
                        .Fields("Name")
                        .Position(Position.Left)
                        .Title("Month of the Year")
                )
                .Series(
                    X.BarSeries().XField("Name").YField("Data1"),
                    X.ScatterSeries().XField("Name").YField("Data2")
                        .Marker(X.CircleSprite().Radius(5)),
                    X.LineSeries()
                        .Fill(true)
                        .Marker(X.Sprite().SpriteType(SpriteType.Cross))
                        .Smooth(3)
                        .StyleSpec(X.Sprite().FillOpacity(0.5))
                        .XField("Name")
                        .YField("Data3")
                )
        )
    )
}