@model object
@{
    ViewBag.Title = "README.md - Ext.NET MVC Examples";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

@section example
{
    <p>
<pre class="code">
@Model.ToString()
</pre>
    </p>
}